---
title: Projects
layout: post-index
section: projects
---
<article>
    <h1 class="entry-title">
        <a>{{ page.title }}</a>
    </h1>
    <hr>
</article>

{%
  assign projects_by_year = site.projects
  | group_by_exp: "project", "project.date | date: '%Y'"
  | sort:"title"
  | reverse
%}

{% for year in projects_by_year %}
<article>
  <h2 id="{{ year.name }}-ref" style="color:black;" class="entry-title">{{ year.name }}</h2>
  <ul>
    {% assign projects = year.items | sort:"title" %}
    {% for project in projects %}
    <li class="entry-title">
    <a href="{{ site.github.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
{% endfor %}
